th{
    width: fit-content;
    border: px solid olivedrab;
    background-color: olivedrab;
}

body{
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 25px;
    font-size: medium;
    width: 600px;
    margin: auto;
    color: black;
}